
*{
    margin: 0;
    padding: 0;
}
html {
    /* font-size: 62.5%;  10px */
    scroll-behavior: smooth;
}
p{
    color: gray;
    margin-bottom: 0;
}

.header{
    /* background-color: #deeef4; */
    background-color: #f6f9f9;
    padding: 0 30px;
}
.header-content {
    margin-right: 65px;
}
.navbar {
    padding: 0;
}
.nav-link {
    font-size: 20px;
}
.navbar-light .navbar-nav .nav-link:hover {
    font-weight: 600;
}
.navbar-brand img {
    width: 226px;
    height: 62px;
    margin-left: 30px;
}

.banner{
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bn{
    min-height: 100vh;
    position: relative;
}
.bn .line{
    display: block;
    height: 2px;
    width: 100%;
    background: #15a4fa;
}
.bn h1{
    /* color: #3c4761; */
    /* color : #C0C0C0; */
    color : white;
    font-size: 70px;
    font-weight: 600;
    margin-top: 90px;
}
.bn p{
    color: white;
    font-size: 18px;
    margin: 15px;
}
.btn-primary{
    color: #fff;
    font-weight: 500;
    background-color: transparent;
    border-color: #15a4fa;
    margin-top: 50px;
}
.btn-primary:hover{
    color: #fff;
    background-color: #03c5de;
    border-color: transparent;
    font-weight: 600;
}
.bn_icon{
    position: absolute;
    top: 75%;
    animation: up_down 3s infinite linear;
    animation-direction: alternate;
}

.fa-chevron-down {
    color: white;
    font-size: 25px;
}

#about h3 {
    margin-bottom: 30px;
}
.works{
    background-color: #f6f9f9;
    padding: 40px;
}
.works_cont{
    margin: 30px;
}
.works_icon{
    background: linear-gradient(to right, #48baff 50%,#5fc3ff 50%);
    height: 80px;
    width: 80px;
    margin: auto;
}
.works_icon i{
    color: white;
    font-size: 30px;
    line-height: 80px;
}
.works_cont h5{
    margin-top:20px;
}
.fa-mobile-alt, .fa-paper-plane, .fa-bullhorn {
    color: white;
    font-size: 30px;
    margin-top: 20px;
}

.container {
    padding: 0;
}
.showcase{
    background-color: #f6f9f9;
    padding-bottom: 40px;
}
.showcase_cont{
    padding: 40px;
}
.showcase_img{
    margin: 10px;
    padding: 0;
    position: relative;
    max-width: fit-content;
    border-radius: 5px;
}
.showcase_img::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0.7;
    background-color: #15a4fa;
    transition: 0.4s all ease-in-out;
}
.showcase_img:hover::before{
    height: 100%;
}
.icon_box{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.4s all ease-in-out;
    opacity: 0;
}
.icon_box i{
    border: white solid;
    border-radius: 10%;
    padding: 5px;

}
.showcase_img:hover .icon_box{
    opacity: 1;
}
.contact{
    background-image: url(../images/stay-with-us.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 40px 0;
}
.contact::before{
    content: '';
    position: absolute;
    background-color: #2d3950;
    top: 0;
    left: 0;
    height: 100%;
    transition: 0.8s;
    width: 100%;
    opacity: 0.8;
}
.contact:hover::before{
    opacity: 1;
}
.contact_cont{
    color: white;
    padding: 10px;
}
.form-control{
    background-color: transparent;
}
#input3{
    padding: 15px 12px 60px 12px;
}
.form-check{
    text-align: left;
    color: gray;
}
.message{
    display: flex;
}
.message .btn{
    margin: 0;
}

.footer{
    background-color: #f6f9f9;
    padding: 15px;
}
.footer_content{
    display: flex;
}
.footer_content p{
    margin-left: 14rem;
}
.footer ul{
    display: flex;
    margin-bottom: 0;
}
.footer li{
    /* background-color: #15a4fa; */
    /* color: white; */
    text-align: center;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    list-style: none;
    margin: 0 2px;
}
.footer li:hover{
    height: 40px;
    width: 40px;
}
.footer i{
    font-size: 20px;
    line-height: 35px;
}

.fa-facebook-f {
    color: #3b5998;
  }
.fa-twitter {
    color: #00aced;
}
.fa-google-plus {
    color: #DD4B39;
}
.fa-linkedin {
    color: #517FA4;
}
.fa-youtube {
    color: #bb0000;
}
.fa-facebook-f:hover, 
.fa-twitter:hover, 
.fa-youtube:hover,
.fa-google-plus:hover, 
.fa-linkedin:hover
{
  color: #d5d5d5;
} 

@keyframes up_down{
    0%{
        top: 75%;
    }
    50%{
        top: 85%;
    }
    100%{
        top: 75%;
    }
}